@use "styles";

footer {
    width: 100%;
    background: darken($bg-color1, 3%);
    font-size: 1.4rem;
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
}

.info {
    padding: 25px;
}

.contact {
    margin-top: 25px;
    font-size: 2rem;;
    font-weight: 600;
}

.cv {
    background: $fr-color1;
    padding: 8px 20px;
    border-radius: 10px;
    display: inline-block;

    a {
        font-weight: 700;
        text-decoration: none;
        color: $txt-color1;
    }
}