@use "styles";

.table-links {
  font-family: "Comfortaa", cursive;
  font-weight: 900;
  font-size: 4rem;
  margin: 30px;

  div {
    margin: 20px 0px;
  }
}

.redirect {
  text-decoration: none;
  color: $txt-color1;

  span {
    position: relative;
    display: inline-block;
  }

  &:hover .arrow {
    right: -75px;
  }
}

.arrow {
  position: absolute;
  height: 40px;
  right: -65px;
  top: 15px;
  transform: rotate(90deg);
  margin-left: 20px;
  transition: right 0.2s ease;
}


.name {
  font-size: 6rem;
  font-weight: 300;
  font-family: "Montserrat", sans-serif;
  letter-spacing: 4px;
  display: flex;
  justify-content: center;
  position: relative;

  span {
    opacity: 0;
    animation-fill-mode: forwards;
    position: absolute;
  }

  &::before {
    content: "$ ";
    margin-right: 20px;
    font-family: 'Courier New', Courier, monospace;
    color: $fr-color1;
    font-weight: 400;
    font-size: 1.2em;
    position: relative;
    top: 6px;
  }

  &::after {
    content: "";
    margin-left: 5px;
    position: relative;
    bottom: -110px;
    right: 0px;
    display: inline-block;
    border-radius: 1px;
    width: 55px;
    height: 5px;
    background: $fr-color1;
    animation-name: cursor;
    animation-direction: alternate;
    animation-duration: 0.65s;
    animation-iteration-count: infinite;
  }
}

@keyframes cursor {
  0% {
    opacity: 0;
  }
  70% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}

.letter1 {
  animation: anim1 0.05s ease 0.25s;
}

.letter2 {
  animation: anim1 0.05s ease 0.46s;
}

.letter3 {
  animation: anim1 0.05s ease 0.66s;
}

.letter4 {
  animation: anim1 0.05s ease 0.88s;
}

.letter5 {
  animation: anim1 0.05s ease 1.00s;
}

.letter6 {
  animation: anim1 0.05s ease 1.22s;
}

.letter7 {
  animation: anim1 0.05s ease 1.30s;
}

.letter8 {
  animation: anim1 0.05s ease 1.5s;
}

@keyframes anim1 {
  0% {
    opacity: 0;
    // display: none;
    position: absolute;
  }
  100% {
    opacity: 1;
    position: initial;
    // display: block;
  }
}