@use "styles";

.table-links {
  font-family: "Comfortaa", cursive;
  font-weight: 900;
  font-size: 4rem;
  margin: 30px;

  div {
    margin: 20px 0px;
  }
}

.redirect {
  text-decoration: none;
  color: $txt-color1;
}

.name {
  // color: rgb(209, 209, 209);
  font-size: 6rem;
  font-weight: 300;
  // font-family: 'Courier New', Courier, monospace;
  font-family: "Montserrat", sans-serif;
  letter-spacing: 4px;

  &::before {
    content: "$";
    // font-family: "Comfortaa", cursive;
    font-family: 'Courier New', Courier, monospace;
    color: $fr-color1;
    margin-right: 20px;
    font-weight: 400;
    font-size: 1.2em;
    position: relative;
    top: 6px;
  }

  &::after {
    content: "";
    margin-left: 5px;
    position: relative;
    top: 6px;
    display: inline-block;
    border-radius: 1px;
    width: 55px;
    height: 5px;
    background: $fr-color1;
    animation-name: cursor;
    animation-direction: alternate;
    animation-duration: 0.65s;
    // animation-timing-function: ease;
    animation-iteration-count: infinite;
  }
}

@keyframes cursor {
  0% {
    opacity: 0;
  }
  70% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}
