@use "styles";

.sm-project {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 15px 0px;
}

.sm-proj-name {
    font-size: 2.3rem; 
    font-family: "Comfortaa", cursive;
    margin: 10px 3px;
}

.sm-text {
    font-size: 1.8rem; 
    font-family: "Comfortaa", cursive;
    font-weight: 300;
}

.sm-icons {
    display: flex;
    justify-content: center;
    align-items: center;
}